.l-main {
  display: flex;
  flex-direction: column;
}

.l-section {
  display: flex;
  justify-content: center;
  padding: 1rem;

  &--expose {
    padding-left: 0;
    padding-right: 0;
  }
}

.l-block {
  & + & {
    margin-top: 2rem;
  }
}


.l-list {
  li {
    padding-left: 1rem;

    &::before {
      content: '–';
      display: inline-block;
      margin-left: -1rem;
      width: 1rem;
    }

    & + li {
      margin-top: 0.5rem;
    }
  }
}

@include media('>tablet') {
  .l-app {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .l-main {
    height: 100%;
  }

  .l-section {
    min-height: 100%;
    padding: 8rem 2rem 2rem;
  }

  .l-block {
    width: 60vw;
    max-width: 900px;
  }
}
