.l-wrapper {
  padding: 2rem;
  display: flex;
}

.l-block {
  & + & {
    margin-top: 2rem;
  }
}

.l-list {
  li {
    padding-left: 1rem;

    &::before {
      content: '–';
      display: inline-block;
      margin-left: -1rem;
      width: 1rem;
    }

    & + li {
      margin-top: 0.5rem;
    }
  }
}

.l-main {
  flex-direction: column;
  max-width: 600px;
}
